extends layout

block content
  div(class="container")
    div(class="row")
      div(class="col-4")
        div(class="card border-0 shadow")
          div(class="card-body")
            div(class="row d-block d-xl-flex align-items-center")
              div(class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center")
                div(class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
                  i(class="fa-sharp fa-solid fa-file-user fa-3x")
                div(class="d-sm-none")
                  h2(class="fw-extrabold h5")
                    | Database Records
                  h3(class="mb-1")
                    | #{content.contacts.toLocaleString()}
              div(class="col-12 col-xl-7 px-xl-0")
                div(class="d-none d-sm-block")
                  h2(class="h6 text-gray-400 mb-0")
                    | Database Records
                  h3(class="fw-extrabold mb-2")
                    | #{content.contacts.toLocaleString()}

      div(class="col-4")
        div(class="card border-0 shadow")
          div(class="card-body")
            div(class="row d-block d-xl-flex align-items-center")
              div(class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center")
                div(class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
                  i(class="fa-regular fa-at fa-3x")
                div(class="d-sm-none")
                  h2(class="fw-extrabold h5")
                    | Email Addresses
                  h3(class="mb-1")
                    | #{content.emails.toLocaleString()}
              div(class="col-12 col-xl-7 px-xl-0")
                div(class="d-none d-sm-block")
                  h2(class="h6 text-gray-400 mb-0")
                    | Email Addresses
                  h3(class="fw-extrabold mb-2")
                    | #{content.emails.toLocaleString()}

      div(class="col-4")
        div(class="card border-0 shadow")
          div(class="card-body")
            div(class="row d-block d-xl-flex align-items-center")
              div(class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center")
                div(class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
                  i(class="fa-sharp fa-solid fa-envelope-circle-check fa-3x")
                div(class="d-sm-none")
                  h2(class="fw-extrabold h5")
                    | Verified Emails
                  h3(class="mb-1")
                    | #{content.validEmails.toLocaleString()}
              div(class="col-12 col-xl-7 px-xl-0")
                div(class="d-none d-sm-block")
                  h2(class="h6 text-gray-400 mb-0")
                    | Verified Emails
                  h3(class="fw-extrabold mb-2")
                    | #{content.validEmails.toLocaleString()}

    div(class="row mt-2")
      div(class="col-4")
        div(class="card border-0 shadow")
          div(class="card-body")
            div(class="row d-block d-xl-flex align-items-center")
              div(class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center")
                div(class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
                  i(class="fa-sharp fa-solid fa-phone fa-3x")
                div(class="d-sm-none")
                  h2(class="fw-extrabold h5")
                    | Phone Numbers
                  h3(class="mb-1")
                    | #{content.phones.toLocaleString()}
              div(class="col-12 col-xl-7 px-xl-0")
                div(class="d-none d-sm-block")
                  h2(class="h6 text-gray-400 mb-0")
                    | Phone Numbers
                  h3(class="fw-extrabold mb-2")
                    | #{content.phones.toLocaleString()}

      div(class="col-4")
        div(class="card border-0 shadow")
          div(class="card-body")
            div(class="row d-block d-xl-flex align-items-center")
              div(class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center")
                div(class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
                  i(class="fa-sharp fa-solid fa-mailbox fa-3x")
                div(class="d-sm-none")
                  h2(class="fw-extrabold h5")
                    | Mailing Addresses
                  h3(class="mb-1")
                    | #{content.addresses.toLocaleString()}
              div(class="col-12 col-xl-7 px-xl-0")
                div(class="d-none d-sm-block")
                  h2(class="h6 text-gray-400 mb-0")
                    | Mailing Addresses
                  h3(class="fw-extrabold mb-2")
                    | #{content.addresses.toLocaleString()}

      div(class="col-4")
        div(class="card border-0 shadow")
          div(class="card-body")
            div(class="row d-block d-xl-flex align-items-center")
              div(class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center")
                div(class="icon-shape icon-shape-tertiary rounded me-4 me-sm-0")
                  i(class="fa-brands fa-usps fa-3x")
                div(class="d-sm-none")
                  h2(class="fw-extrabold h5")
                    | Verified Addresses
                  h3(class="mb-1")
                    | #{content.validAddresses.toLocaleString()}
              div(class="col-12 col-xl-7 px-xl-0")
                div(class="d-none d-sm-block")
                  h2(class="h6 text-gray-400 mb-0")
                    | Verified Addresses
                  h3(class="fw-extrabold mb-2")
                    | #{content.validAddresses.toLocaleString()}
